.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 379px;
  overflow: visible;
  .imgWrapper {
    position: relative;
    right: 0;
    height: 810px;
    width: inherit;
    img {
      position: absolute;
      right: 0;
      width: fit-content;
      height: inherit;
      object-fit: contain;
      overflow: hidden;
      opacity: 0;
      animation: 1s fade ease-in forwards ;
      @keyframes fade {
        0%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
    }
  }
  .btnBlock {
    display: flex;
    justify-content: center;
    gap: 20px;
    .btn {
      width: 101px;
      height: 43px;
      border-radius: 50px;
      border: 2px solid var(--color-green);
      font-family: var(--font-optional);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      color: #7e7e7e;
      transition: 0.3s;
      &:hover {
        color: var(--color-default);
      }
    }
    .btnActive {
      background: var(--color-green);
      color: var(--color-default);
    }
  }
}
.unFixedWidth{
  width: fit-content;
}
