@font-face{
  font-family: 'AGLettericaCompressedC';
  src: url(./assets/fonts/AGLettericaCompressedC_Italic.otf);
  src: url(./assets/fonts/AGLettericaCompressedC_Regular.otf);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --color-default: #1B1B1B;
  --color-red: #F24B27;
  --color-green: #D2F24F;
  --color-gark-green: #71832B;
  --color-grey: #F0F0EC;
  --color-blue-grey: #648381;
  --color-white: #F6F0F0;
  --font-default: "Open Sans", sans-serif;
  --font-title: "AGLettericaCompressedC";
  --font-optional: "Manrope", sans-serif;
  --container-width: 1366px;
}

a {
  text-decoration: none;
  color: var(--color-default);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--font-default);
}
ul {
  list-style: none;
}
body{
  background-color: #FCFCFC;
}